---
title: Getting Started
---

# Getting Started
Automathaus is a platform for creating IoT enabled projects.

```c++
#include <automathaus.h>
void setup() {
    // Initialize LED pin
    pinMode(LED_BUILTIN, OUTPUT);
}

void loop() {
    digitalWrite(LED_BUILTIN, HIGH); // Turn LED on
    delay(1000); // Wait for 1 second
    digitalWrite(LED_BUILTIN, LOW); // Turn LED off
    delay(1000); // Wait for 1 second
}
```